PyCity Schools Analysis

As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).
As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).
As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school.

Note

Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# File to Load 
school_data_to_load = ("../Documents/Pandas/schools_complete.csv")
student_data_to_load = ("../Documents/Pandas/students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
#Calculate the total number of schools
got_school_name = school_data_complete["school_name"].value_counts()
Total_Schools1 = got_school_name.count()
Total_Schools1

15

In [3]:
#Calculate the total number of students
got_students_name = school_data_complete['student_name'].value_counts()
Total_Students1 = got_students_name.sum()
Total_Students1

39170

In [4]:
#Calculate the total budget
Final_Total_Budget = school_data['budget'].sum()
Final_Total_Budget

24649428

In [5]:
#Calculate the average math score 
Average_math_scores = school_data_complete['math_score'].mean()
Average_math_scores

78.98537145774827

In [6]:
#Calculate the average reading score
Average_Reading_score = school_data_complete['reading_score'].mean()
Average_Reading_score

81.87784018381414

In [7]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

Overall_Passing_Rate = (Average_Reading_score + Average_math_scores)/2
Overall_Passing_Rate

80.43160582078121

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)

Avg_Math_score = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
Numberstudents70 = Avg_Math_score['student_name'].count()
Number170 = (Numberstudents70 *100)/ Total_Students1
Number170

74.9808526933878

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater
Avg_Read_score = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
ReadNumberstudents70 = Avg_Read_score['student_name'].count()
ReadNumber170 = (ReadNumberstudents70 *100)/ Total_Students1
ReadNumber170

85.80546336482001

In [10]:
District_Summary = pd.DataFrame({
                                "Total Schools": [Total_Schools1],
                                "Total Students":[Total_Students1],
                                "Total Budget": [Final_Total_Budget],
                                "Average Math Score": [Average_math_scores],
                                "Average Reading Score": [Average_Reading_score], 
                                "% Passing Math": [Number170],
                                "% Passing Reading":[ReadNumber170],
                                 "Overall Passing Rate":[Overall_Passing_Rate]})

#format cells
District_Summary.style.format({"Total Students":"{:,}",
                        "Total Budget": "${:,.2f}", 
                       "Average Reading Score": "{:.6f}", 
                       "Average Math Score": "{:.6f}", 
                       "% Passing Math": "{:.6f}", 
                       "% Passing Reading": "{:.6f}", 
                       "Overall Passing Rate": "{:.6f}"})

#Create an overview table that summarizes key metrics about each school, including:
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)
#Create a dataframe to hold the above results

In [11]:
#School Names
School_Names = school_data_complete.set_index('school_name').groupby(['school_name'])
School_Names.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411
Figueroa High School,2918,Nathan Campbell,M,12th,97,84,1,District,2949,1884411
Figueroa High School,2919,Randall Stewart,M,12th,67,77,1,District,2949,1884411
Figueroa High School,2920,Jennifer Brown,F,9th,97,64,1,District,2949,1884411
Figueroa High School,2921,Denise Lopez,F,10th,79,64,1,District,2949,1884411
Shelton High School,5866,Jamie Montgomery,F,12th,70,91,2,Charter,1761,1056600
Shelton High School,5867,Shannon Phillips,F,10th,84,71,2,Charter,1761,1056600
Shelton High School,5868,Todd Barber,M,11th,95,99,2,Charter,1761,1056600
Shelton High School,5869,Desiree King,F,12th,76,95,2,Charter,1761,1056600
Shelton High School,5870,Melissa Roberts,F,10th,71,82,2,Charter,1761,1056600
Hernandez High School,7627,Russell Davis,M,10th,70,88,3,District,4635,3022020
Hernandez High School,7628,Timothy Walker,M,12th,97,93,3,District,4635,3022020
Hernandez High School,7629,Katie Johnston,F,12th,83,81,3,District,4635,3022020
Hernandez High School,7630,Joann Oconnell,F,12th,77,91,3,District,4635,3022020
Hernandez High School,7631,Sarah Alexander,F,10th,84,93,3,District,4635,3022020
Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500
Griffin High School,12263,Elizabeth Goodwin,F,10th,91,81,4,Charter,1468,917500
Griffin High School,12264,Michelle Wong,F,9th,78,89,4,Charter,1468,917500
Griffin High School,12265,Scott Roth MD,M,11th,91,85,4,Charter,1468,917500
Griffin High School,12266,Billy Wilson,M,12th,76,83,4,Charter,1468,917500
Wilson High School,13730,Kelli Anderson,F,10th,84,71,5,Charter,2283,1319574
Wilson High School,13731,Russell Ramirez,M,10th,72,87,5,Charter,2283,1319574
Wilson High School,13732,Eric Butler,M,10th,97,82,5,Charter,2283,1319574
Wilson High School,13733,Warren Kerr,M,11th,93,68,5,Charter,2283,1319574
Wilson High School,13734,Gail Hall,F,9th,79,72,5,Charter,2283,1319574
...,...,...,...,...,...,...,...,...,...,...
Pena High School,23274,Alec Davis,M,9th,91,75,9,Charter,962,585858
Pena High School,23275,Michael Meyer,M,10th,94,76,9,Charter,962,585858
Pena High School,23276,Donald Gutierrez,M,11th,98,91,9,Charter,962,585858
Pena High School,23277,Travis Chavez,M,11th,78,71,9,Charter,962,585858
Pena High School,23278,Sheena Ball,F,12th,87,92,9,Charter,962,585858
Wright High School,24236,Aaron Johnson,M,10th,89,72,10,Charter,1800,1049400
Wright High School,24237,Kimberly Hamilton,F,10th,84,93,10,Charter,1800,1049400
Wright High School,24238,Ashley Johns,F,10th,88,88,10,Charter,1800,1049400
Wright High School,24239,Stephanie Donovan,F,10th,75,84,10,Charter,1800,1049400
Wright High School,24240,Cynthia Guzman,F,11th,93,82,10,Charter,1800,1049400
Rodriguez High School,26036,Sherry Jenkins,F,11th,74,81,11,District,3999,2547363
Rodriguez High School,26037,Kimberly Calderon,F,10th,80,86,11,District,3999,2547363
Rodriguez High School,26038,William Brady,M,11th,97,62,11,District,3999,2547363
Rodriguez High School,26039,Jacob Padilla,M,11th,79,73,11,District,3999,2547363
Rodriguez High School,26040,Paula Maldonado,F,10th,96,92,11,District,3999,2547363
Johnson High School,30035,Lisa Casey,F,12th,87,87,12,District,4761,3094650
Johnson High School,30036,Jessica Lopez,F,9th,98,62,12,District,4761,3094650
Johnson High School,30037,Anna Wilkins,F,11th,89,77,12,District,4761,3094650
Johnson High School,30038,Andrew Smith,M,9th,66,85,12,District,4761,3094650
Johnson High School,30039,Robert Allison,M,11th,63,85,12,District,4761,3094650
Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916
Ford High School,34797,Stephen Wolf,M,11th,68,63,13,District,2739,1763916
Ford High School,34798,Bonnie Hughes,F,12th,73,59,13,District,2739,1763916
Ford High School,34799,Melissa Smith,F,11th,88,58,13,District,2739,1763916
Ford High School,34800,Brian Mitchell,M,10th,96,55,13,District,2739,1763916
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [12]:
#School Types
School_types = school_data.set_index('school_name')['type']
School_types.head(15)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
#Total Students
Total_Students = School_Names['Student ID'].count()
Total_Students.head(15)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [14]:
# school budget
Total_Budget = school_data.set_index('school_name')['budget']
Total_Budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [15]:
#Per Student Budget
Student_Budget = Total_Budget/Total_Students
Student_Budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
#avg scores by school
Average_Math = School_Names['math_score'].mean()
Average_Read = School_Names['reading_score'].mean()
Average_Math
Average_Read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
# Passing Scores
Pass_Math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/Total_Students
Final_Pass_Math = Pass_Math *100
Final_Pass_Math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [18]:
# Passing Scores
Pass_Read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/Total_Students
Final_Pass_Read = Pass_Read *100
Final_Pass_Read

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [19]:
#Overall
Overall = (Final_Pass_Math + Final_Pass_Read)/2
Overall

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: Student ID, dtype: float64

In [20]:
School_Summary = pd.DataFrame({
    "School Type": School_types,
    "Total Students": Total_Students,
    "Total School Budget": Total_Budget,
    "Per Student Budget": Student_Budget,
    "Average Math Score": Average_Math,
    "Average Reading Score": Average_Read,
    '% Passing Math': Final_Pass_Math,
    '% Passing Reading': Final_Pass_Read,
    "Overall Passing Rate": Overall
})

#formatting
School_Summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:.6f}", 
                          'Average Reading Score': "{:.6f}", 
                          "% Passing Math": "{:.6f}", 
                          "% Passing Reading": "{:.6f}", 
                          "Overall Passing Rate": "{:.6f}"})

# Top Performing Schools (By Passing Rate)

In [21]:
# Sort and display the top five schools in overall passing rate 
Top_5 = School_Summary.sort_values("Overall Passing Rate", ascending = False)
Top_5.head().style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:.6f}", 
                          'Average Reading Score': "{:.6f}", 
                          "% Passing Math": "{:.6f}", 
                          "% Passing Reading": "{:.6f}", 
                           "Overall Passing Rate": "{:.6f}"})

# Bottom Performing Schools (By Passing Rate)

In [22]:
#Sort and display the five worst-performing schools
Bottom_5 = School_Summary.sort_values("Overall Passing Rate", ascending = True)
Bottom_5.head().style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:.6f}", 
                          'Average Reading Score': "{:.6f}", 
                          "% Passing Math": "{:.6f}", 
                          "% Passing Reading": "{:.6f}", 
                          "Overall Passing Rate": "{:.6f}"})

# Math Scores by Grade
Create a table that lists the average math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
Create a pandas series for each grade. Hint: use a conditional statement.
Group each series by school
Combine the series into a dataframe
Optional: give the displayed data cleaner formatting

In [23]:
#Creates average math scores for students of each grade 
Ninth_Math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
Tenth_Math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
Eleventh_Math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
Twelfth_Math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

Schoolbygrade_Math_Scores = pd.DataFrame({
        "9th": Ninth_Math,
        "10th": Tenth_Math,
        "11th": Eleventh_Math,
        "12th": Twelfth_Math
})
Schoolbygrade_Math_Scores = Schoolbygrade_Math_Scores[['9th', '10th', '11th', '12th']]
Schoolbygrade_Math_Scores.index.name = "School_name"

#show and format
Schoolbygrade_Math_Scores.style.format({'9th': '{:.6f}', 
                          "10th": '{:.6f}', 
                          "11th": "{:.6f}", 
                          "12th": "{:.6f}"})


# Reading Score by Grade
 
Perform the same operations as above for reading scores

In [25]:
#Creates average read scores for students of each grade 
Ninth_Read = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
Tenth_Read = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
Eleventh_Read = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
Twelfth_Read = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

Schoolbygrade_Read_Scores = pd.DataFrame({
        "9th": Ninth_Read,
        "10th": Tenth_Read,
        "11th": Eleventh_Read,
        "12th": Twelfth_Read
})
Schoolbygrade_Read_Scores = Schoolbygrade_Read_Scores[['9th', '10th', '11th', '12th']]
Schoolbygrade_Read_Scores.index.name = "School_name"

#show and format
Schoolbygrade_Read_Scores.style.format({'9th': '{:.6f}', 
                          "10th": '{:.6f}', 
                          "11th": "{:.6f}", 
                          "12th": "{:.6f}"})

# Scores by School Spending
 
Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

In [26]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], spending_bins,
                                                     labels = group_names)
#Group by Spending
Spending = school_data_complete.groupby('spending_bins')

Avg_Math_Spending = Spending['math_score'].mean()
Avg_Read_Spending = Spending['reading_score'].mean()
Pass_Math_Spending1 = school_data_complete[school_data_complete
                                            ['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/Spending['Student ID'].count()
Pass_Math_Spending = (Pass_Math_Spending1 *100)
Pass_Read_Spending1 = school_data_complete[school_data_complete
                                            ['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/Spending['Student ID'].count()
Pass_Read_Spending = (Pass_Read_Spending1 * 100)
Overall_Score_Spending= (Pass_Math_Spending + Pass_Read_Spending)/2
            
# New Dataframe           
Scores_by_Spend = pd.DataFrame({
    "Average Math Score": Avg_Math_Spending,
    "Average Reading Score": Avg_Read_Spending,
    '% Passing Math': Pass_Math_Spending,
    '% Passing Reading': Pass_Read_Spending,
    "% Overall Passing Rate": Overall_Score_Spending})
        

Scores_by_Spend.index.name = "Spending Ranges (Per Student)"
Scores_by_Spend = Scores_by_Spend.reindex(group_names)

#formating
Scores_by_Spend.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              'Overall Passing Rate': '{:.6f}'})

# Scores by School Size
 
Perform the same operations as above, based on school size.

In [27]:
size_bins = [0, 1000, 2000, 5000]
group_names2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], size_bins, labels = group_names2)

#Group by Size
Size = school_data_complete.groupby('size_bins')

Avg_Math_Size = Size['math_score'].mean()
Avg_Read_Size = Size['reading_score'].mean()
Pass_Math_Size1 = school_data_complete[school_data_complete
                                            ['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/Size['Student ID'].count()
Pass_Math_Size = (Pass_Math_Size1 *100)
Pass_Read_Size1 = school_data_complete[school_data_complete
                                            ['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/Size['Student ID'].count()
Pass_Read_Size = (Pass_Read_Size1 * 100)
Overall_Score_Size= (Pass_Math_Size + Pass_Read_Size)/2
            
# New Dataframe           
Scores_by_Size = pd.DataFrame({
    "Average Math Score": Avg_Math_Size,
    "Average Reading Score": Avg_Read_Size,
    '% Passing Math': Pass_Math_Size,
    '% Passing Reading': Pass_Read_Size,
    "% Overall Passing Rate": Overall_Score_Size})
        

Scores_by_Size.index.name = "School Size"
Scores_by_Size = Scores_by_Size.reindex(group_names2)

#formating
Scores_by_Size.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              'Overall Passing Rate': '{:.6f}'})

# Scores by School Type
 
Perform the same operations as above, based on school type.

In [28]:
By_type = school_data_complete.groupby("type")
Avg_Math_Type = By_type['math_score'].mean()
Avg_Read_Type = By_type['reading_score'].mean()
Pass_Math_Type1 = school_data_complete[school_data_complete
                                            ['math_score'] >= 70].groupby('type')['Student ID'].count()/By_type['Student ID'].count()
Pass_Math_Type = (Pass_Math_Type1 *100)
Pass_Read_Type1 = school_data_complete[school_data_complete
                                            ['reading_score'] >= 70].groupby('type')['Student ID'].count()/By_type['Student ID'].count()
Pass_Read_Type = (Pass_Read_Type1 * 100)
Overall_Score_Type= (Pass_Math_Type + Pass_Read_Type)/2
            
# New Dataframe           
Scores_by_Type = pd.DataFrame({
    "Average Math Score": Avg_Math_Type,
    "Average Reading Score": Avg_Read_Type,
    '% Passing Math': Pass_Math_Type,
    '% Passing Reading': Pass_Read_Type,
    "% Overall Passing Rate": Overall_Score_Type})
        

Scores_by_Type.index.name = "School Type"

#formating
Scores_by_Type.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              'Overall Passing Rate': '{:.6f}'})